.about {
  padding: 3rem 0;
}

.about h2,
.about h3 {
  padding: 1rem 0;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
}

.about h3 {
  font-size: 1.5rem;
}

.about p {
  padding: 2rem 0;
}

.about ul {
  padding-left: 1rem;
}

.about li {
  padding-left: .5rem;
  list-style: square;
}
