.menu-container {
  @media(min-width: 1024px) {
    display: none;
  }
}

.menu {
  min-height: 100vh;
}

.menu__wrapper {
  top: 0;
  margin: unset !important;
  max-width: unset !important;
  padding: 0;

}

.menu__wrapper > * {
  border-radius: unset !important;
  padding: 0 !important;
}

