.phone svg,
.search svg,
.cart__icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.cart {
  padding: 0.3rem;
}

.cart,
.phone {
  display: none;
  z-index: 2;

  @media(min-width: 640px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.phone,
.search,
.cart__icon {
  color: var(--color-scheme-3);
}

.phone,
.search-wrapper {
  @media(min-width: 1024px) {
    display: none;
  }
}
