.content,
.main {
  padding-top: 2rem;
}

.main {
  @media(min-width: 768px) {
    display: flex;
    column-gap: 2rem;
  }

  @media(min-width: 1280px) {
    max-width: 60rem;
    margin: auto;
  }
}

.tabs {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  box-shadow: var(--effect-shadow-bottom-1);

  @media(min-width: 768px) {
    max-width: 23rem;
    box-shadow: unset;
  }

  @media(min-width: 1280px) {
    max-width: 30rem;
    height: 22rem;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    flex-basis: 60%;
  }
}

.photoList {
  margin-bottom: 3rem;
}

.photo {
  position: absolute;
  max-height: 235px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media(min-width: 640px) {
    max-height: 283px;
  }

  @media(min-width: 768px) {
    max-height: 283px;
  }

  @media(min-width: 1280px) {}
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.photo.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.preview {
  min-width: 75px;
  padding: .3rem;
  border: 2px solid transparent;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: border;

  @media(min-width: 640px) {
    min-width: 100px;
  }

  @media(min-width: 1280px) {
    margin-right: 4rem;
  }
}

.preview.active {
  border: 2px solid var(--color-scheme-3);
}

.swiperSlide {
  max-width: max-content !important;
}

.options {
  max-width: 35rem;
  margin: auto;

  @media(min-width: 768px) {
    max-width: unset;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 1280px) {
    flex-basis: 40%;
  }
}

.packaging {
  margin-bottom: 2rem;

  @media(min-width: 768px) {
    padding-bottom: 2rem;
    flex-direction: column;
    box-shadow: var(--effect-shadow-bottom-1);
    order: 2;
  }
}

.packaging>p {
  width: min-content;
  font-weight: 600;

  @media(min-width: 370px) {
    width: unset;
  }

  @media(min-width: 768px) {
    margin-bottom: 1rem;
  }
}

.packaging ul {
  column-gap: 1rem;
}

.action {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media(min-width: 768px) {
    padding-bottom: 2rem;
    box-shadow: var(--effect-shadow-bottom-1);
    order: 1;
  }
}

.price {
  font-size: 1.2rem;
  font-weight: 600;

  @media(min-width: 768px) {
    font-size: 2rem;
  }
}

.toCart {
  transition-property: background, box-shadow;

  @media(min-width: 768px) {
    font-size: 1.5rem;
  }
}

.item {
  display: flex;
  justify-content: center;
  font-weight: 600;

  @media(min-width: 768px) {
    padding-bottom: 2rem;
    box-shadow: var(--effect-shadow-bottom-1);
    order: 3;
  }
}

.item p+p {
  margin-left: 1rem;
}

.characteristics {
  padding-top: 2rem;

  /* @media(min-width: 1024px) {
    max-width: 984px;
    margin: auto;
  } */

  @media(min-width: 1024px) {
    max-width: unset;
    margin: unset;
    display: flex;
  }
}

.characteristics:last-child {
  padding-bottom: 2rem;
}

.characteristics h3 {
  margin-bottom: 1rem;
  text-align: left;
}

.titleWrapper {
  margin-bottom: 1rem;

  @media(min-width: 1024px) {
    flex-shrink: 1;
  }
}

.titleWrapper h2 {
  text-align: left;
}

.characteristics > *:not(.titleWrapper) {

  @media(min-width: 1024px) {
    width: 70%;
    margin-left: auto;
    text-align: left;
  }

  @media(min-width: 1280px) {
    width: 80%;
  }
}

.specifications {
  padding-left: 2rem;
  list-style: square;
}

.specifications li+li {
  margin-top: 1rem;
}

.popup {
  display: none;
}
