.content,
.main {
  padding-top: 2rem;
}

.tabs {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.photo {
  position: absolute;
  margin-bottom: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.photo.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.preview {
  padding: .3rem;
  border: 2px solid transparent;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: border;
}

.preview.active {
  border: 2px solid var(--color-scheme-3);
}

.swiperSlide {
  max-width: max-content !important;
}

.options {
  max-width: 35rem;
  margin: auto;
}

.packaging {
  margin-bottom: 2rem;
}

.packaging>p {
  width: min-content;
  font-weight: 600;

  @media(min-width: 370px) {
    width: unset;
  }
}

.packaging ul {
  column-gap: 1rem;
}

.action {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: 600;
}

.item {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.item p+p {
  margin-left: 1rem;
}

.characteristics {
  padding-top: 2rem;
}

.characteristics:last-child {
  padding-bottom: 2rem;
}

.characteristics h3 {
  margin-bottom: 1rem;
  text-align: left;
}

.titleWrapper {
  margin-bottom: 1rem;
}

.specifications {
  padding-left: 2rem;
  list-style: square;
}

.specifications li+li {
  margin-top: 1rem;
}

.popup {
  display: none;
}
