.nav {
  padding: .5rem 0;
  display: none;
  border: none !important;
  z-index: 1;

  @media(min-width: 1024px) {
    display: block;
  }
}

.nav__item + .nav__item {
  margin-left: 6rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
  padding: .5rem 0;
  color: var(--color-scheme-3);
  font-weight: 500;
}

/* .nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-scheme-3);
  transition: width .2s ease-in-out;
}

.nav__link:hover::after {
  width: 100%;
} */
