.list {
  padding: .5rem 0;
  border: none !important;
}

.item {
  padding: 0 !important;
  border-block-end: none !important;
  box-shadow: var(--effect-shadow-bottom-1);
}

.link {
  position: relative;
  width: 100%;
  display: flex;
}

.link:hover {
  color: unset !important;
}

.icon {
  margin-left: auto;
}

.button {
  width: 100%;
  color: black;
}

.wbutton {
  background-color: var(--color-scheme-6);
}
