.region {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.title {
  font-size: 18px;
}

.item {
  padding: .5rem 0;
}

.icon {
  margin-right: .5rem;
}

.title {
  font-size: 16px;
}

.active .title,
.active .icon {
  color: var(--color-scheme-3);
}
