.region {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.region__item {
  padding: .5rem 0;
}

.region__icon {
  margin-right: .5rem;
}

.active .region__title,
.active .region__icon {
  color: var(--color-scheme-3);
}
