.search {
  z-index: 3;

  @media(min-width: 640px) {
    position: relative;
  }
}

.button {
  position: relative;
  height: 100%;
  padding: 0px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 2;
}

.input {
  position: absolute;
  top: 50%;
  right: 4rem;
  width: 0;
  height: 40px;
  padding-right: 2rem;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: opacity visibility width;

  @media(min-width: 640px) {
    right: 0;
  }
}

.active.input {
  width: calc(100% - 5.25rem);
  opacity: 1;
  pointer-events: all;
  visibility: visible;

  @media(min-width: 640px) {
    width: 17rem;
  }

  @media(min-width: 1024px) {
    width: 18rem;
  }

  @media(min-width: 1536px) {
    width: 21rem;
  }
}

.active.input:hover {
  border: solid 1px var(--color-scheme-1-opacity-03);
}

.active.input:active,
.active.input:focus-within,
.active.input:focus {
  border: solid 1px var(--color-scheme-1-opacity-03);
  box-shadow: 0 0 0 1px var(--color-scheme-1-opacity-03);
}

.icon {
  padding-top: 3px;
}
