.bar {
  position: relative;
  background-color: var(--color-scheme-2);
  box-shadow: var(--effect-shadow-bottom-1);
  /* overflow: hidden; */
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-scheme-4);
  /* transform: translateY(100%); */
}
