@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-scheme-1: rgb(0, 0, 0);
  --color-scheme-1-opacity-03: rgba(0, 0, 0, 0.298);
  --color-scheme-1-opacity-065: rgba(0, 0, 0, 0.65);
  --color-scheme-2: rgb(255, 255, 255);
  --color-scheme-3: rgb(227, 0, 33);
  --color-scheme-4: rgb(36, 36, 36);
  --color-scheme-5: rgb(91, 91, 91);
  --color-scheme-6: rgb(102, 104, 109);

  --color-1: #2B2D42;
  --color-2: #818D92;
  --color-3: #A41623;
  --color-4: #F85E00;
  --color-5: #90A959;

  --effect-shadow-1: 0 0 14px 0 var(--color-scheme-1-opacity-03);
  --effect-shadow-bottom-1: 0 5px 5px -5px var(--color-scheme-1-opacity-03);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  font-size: 14px;
  font-family: 'Montserrat';
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;

  @media(min-width: 640px) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
}

main {
  min-height: 300vh;
}

.active-opacity,
.hover-opacity {
  transition: opacity .2s linear;
}
.active-opacity:active,
.hover-opacity:hover {
  opacity: .7;
}

.hover-brightness {
  transition-property: filter, opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.hover-brightness:hover {
  filter: brightness(1.7);
}

.hover-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-scheme-3);
  transition: width .2s ease-in-out;
  transform: translateX(-50%);
}

.hover-underline:hover::after {
  width: 100%;
}
