.header-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 61px;
  width: 100vw;
  background-color: var(--color-scheme-4);
  /* transition: height .2s ease-in-out; */

  @media(min-width: 1024px) {
    background-color: var(--color-scheme-1);
  }
}

.header {
  /* padding-top: 78px; */
}

.header__fixed {
  position: fixed;
  width: 100vw;
  background-color: var(--color-scheme-2);
  /* overflow: hidden; */
  z-index: 2;
  box-shadow: var(--effect-shadow-bottom-1);
}

.logo {
  width: 100px;
  height: 40px;
  z-index: 1;

  @media(min-width: 640px) {
    width: 150px;
    height: 43px;
  }

  @media(min-width: 1024px) {
    width: 189px;
    height: 54px;
  }
}

.actions {
  column-gap: .3rem;
  @media(min-width: 1024px) {
    display: none;
  }
}

.phone,
.search,
.cart {
  color: var(--color-scheme-3);
}
