.phone svg,
.search svg,
.cartIcon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.cart {
  padding: 0.3rem;
}

.cart,
.phone {
  display: none;
  z-index: 2;

  @media(min-width: 640px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* .phone--red,
.search--red,
.cartIcon--red {
  color: var(--color-scheme-3);
}

.phone--black,
.search--black,
.cartIcon--black {
  color: var(--color-scheme-4);
} */

