.burger {
  position: relative;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

  @media(min-width: 1024px) {
    display: none;
  }
}

/* .active.burger {
  z-index: 1001;
} */

.bars {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-scheme-3);
  transition: transform var(--transition-duration), top var(--transition-duration), bottom var(--transition-duration);
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(3) {
  bottom: 0;
}

.active .bar:nth-child(1),
.animation .bar:nth-child(1) {
  top: 50%;
}

.active .bar:nth-child(3),
.animation .bar:nth-child(3) {
  bottom: 50%;
}

.animation .bar:nth-child(1) {
  transform: translateY(-50%);
}

.animation .bar:nth-child(3) {
  transform: translateY(50%);
}

.active .bar:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
}

.active .bar:nth-child(2),
.delay-opacity .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: translateY(50%) rotate(-45deg);
}
