.menu {
  /* min-height: calc(100vh - 61px); */
  min-height: 100vh;
}

.menu__wrapper {
  /* top: 61px; */
  top: 0;
  margin: unset !important;
  max-width: unset !important;
  padding: 0;
}

.menu__wrapper > * {
  border-radius: unset !important;
  padding: 0 !important;
}

.region {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.region__item {
  padding: .5rem 0;
}

.region__icon {
  margin-right: .5rem;
}

.active .region__title,
.active .region__icon {
  color: var(--color-scheme-3);
}

.list {
  padding: .5rem 0;
  border: none !important;
}

.list__item {
  padding: 0 !important;
  border-block-end: none !important;
  box-shadow: var(--effect-shadow-bottom-1);
}

.list__link:hover {
  color: var(--color-scheme-3) !important;
}

.link {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-scheme-3);
  transition: width .2s ease-in-out;
}

.link:hover {
  color: var(--color-scheme-3) !important;
}

.link:hover.link::after {
  width: 100%;
}

.link__icon {
  margin-left: auto;
}

.list-button {
  width: 100%;
  color: black;
}

.list-button__wave {
  background-color: var(--color-scheme-6);
}
