.bar {
  position: relative;
  width: 100vw;
  padding: .5rem 0;
  display: none;
  background-color: var(--color-scheme-4);
  /* background-color: var(--color-scheme-1-opacity-03); */
  box-shadow: var(--effect-shadow-bottom-1);
  /* overflow: hidden; */

  @media(min-width: 1024px) {
    display: block;
  }
}

.bar::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 20px;
  width: 100vw;
  background-color: var(--color-scheme-4);
}

.region {
  position: relative;
  color: var(--color-scheme-3);
}

.actions {
  column-gap: 1rem;
}

.phone,
.search,
.cart {
  color: var(--color-scheme-3);
}
