.hero {
  position: relative;
  padding-top: 4.3rem;

  @media(min-width: 640px) {
    padding-top: 4.2rem;
  }

  @media(min-width: 1024px) {
    padding-top: 4.9rem;
  }
}

.image {
  min-height: 190px;
  object-fit: cover;
  object-position: 25%;

  @media(min-width: 640px) {
    min-height: 256px;
  }

  @media(min-width: 640px) {
    min-height: 256px;
  }

  @media(min-width: 1024px) {
    min-height: 319px;
  }

  @media(min-width: 1280px) {
    min-height: 446px;
  }
}

.content {
  position: absolute;
  bottom: 2rem;
  right: 0;
  padding: 1rem;
  background-color: var(--color-scheme-1);
  color: var(--color-scheme-2);

  @media(min-width: 1024px) {
    right: 10rem;
    bottom: 7rem;
  }
}

.titleMobile {
  @media(min-width: 1024px) {
    display: none;
  }
}

.titleDesktop {
  display: none;

  @media(min-width: 1024px) {
    display: block;
  }
}
